Source: haskell-approx-rand-test
Priority: extra
Section: haskell
Maintainer: Daniël de Kok <me@danieldk.eu>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.8),
               cdbs,
               ghc,
               ghc-prof,
               libghc-base-dev (>= 4) | ghc,
               libghc-base-dev (<< 5) | ghc,
               libghc-base-prof (>= 4) | ghc-prof,
               libghc-base-prof (<< 5) | ghc-prof,
               libghc-conduit-dev (>= 0.4),
               libghc-conduit-dev (<< 0.5),
               libghc-conduit-prof (>= 0.4),
               libghc-conduit-prof (<< 0.5),
               libghc-mersenne-random-pure64-dev (>= 0.2.0),
               libghc-mersenne-random-pure64-dev (<< 0.2.1),
               libghc-mersenne-random-pure64-prof (>= 0.2.0),
               libghc-mersenne-random-pure64-prof (<< 0.2.1),
               libghc-monad-mersenne-random-dev (>= 0.1),
               libghc-monad-mersenne-random-dev (<< 0.2),
               libghc-monad-mersenne-random-prof (>= 0.1),
               libghc-monad-mersenne-random-prof (<< 0.2),
               libghc-mtl-dev (>= 2.0.1),
               libghc-mtl-dev (<< 2.0.2),
               libghc-mtl-prof (>= 2.0.1),
               libghc-mtl-prof (<< 2.0.2),
               libghc-resourcet-dev (>= 0.3),
               libghc-resourcet-dev (<< 0.4),
               libghc-resourcet-prof (>= 0.3),
               libghc-resourcet-prof (<< 0.4),
               libghc-statistics-dev (>= 0.10.1),
               libghc-statistics-dev (<< 0.10.2),
               libghc-statistics-prof (>= 0.10.1),
               libghc-statistics-prof (<< 0.10.2),
               libghc-text-dev (>= 0.11.1),
               libghc-text-dev (<< 0.11.2),
               libghc-text-prof (>= 0.11.1),
               libghc-text-prof (<< 0.11.2),
               libghc-transformers-dev (>= 0.2.2),
               libghc-transformers-dev (<< 0.2.3),
               libghc-transformers-prof (>= 0.2.2),
               libghc-transformers-prof (<< 0.2.3),
               libghc-vector-dev (>= 0.9),
               libghc-vector-dev (<< 0.10),
               libghc-vector-prof (>= 0.9),
               libghc-vector-prof (<< 0.10)
Build-Depends-Indep: ghc-doc,
                     libghc-base-doc (>= 4) | ghc-doc,
                     libghc-base-doc (<< 5) | ghc-doc,
                     libghc-conduit-doc (>= 0.4),
                     libghc-conduit-doc (<< 0.5),
                     libghc-mersenne-random-pure64-doc (>= 0.2.0),
                     libghc-mersenne-random-pure64-doc (<< 0.2.1),
                     libghc-monad-mersenne-random-doc (>= 0.1),
                     libghc-monad-mersenne-random-doc (<< 0.2),
                     libghc-mtl-doc (>= 2.0.1),
                     libghc-mtl-doc (<< 2.0.2),
                     libghc-resourcet-doc (>= 0.3),
                     libghc-resourcet-doc (<< 0.4),
                     libghc-statistics-doc (>= 0.10.1),
                     libghc-statistics-doc (<< 0.10.2),
                     libghc-text-doc (>= 0.11.1),
                     libghc-text-doc (<< 0.11.2),
                     libghc-transformers-doc (>= 0.2.2),
                     libghc-transformers-doc (<< 0.2.3),
                     libghc-vector-doc (>= 0.9),
                     libghc-vector-doc (<< 0.10)
Standards-Version: 3.9.3
Homepage: http://github.com/danieldk/approx-rand-test

Package: libghc-approx-rand-test-dev
Architecture: any
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Approximate randomization tests
 This Haskell module provides functions to perform approximate
 randomization tests.
 .
 Approximate randomization tests rely on a simple premise: given a test
 statistic, if the null-hypothesis (the samples do not differ) is true,
 we can randomly swap values between samples without an (extreme) impact
 on the test statistic. Otherwise, the null-hypothesis must be rejected.
 .
 Author: Daniël de Kok <me@danieldk.eu>
 Upstream-Maintainer: Daniël de Kok <me@danieldk.eu>
 .
 This package contains the normal library files.

Package: libghc-approx-rand-test-prof
Architecture: any
Depends: ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Approximate randomization tests
 This Haskell module provides functions to perform approximate
 randomization tests.
 .
 Approximate randomization tests rely on a simple premise: given a test
 statistic, if the null-hypothesis (the samples do not differ) is true,
 we can randomly swap values between samples without an (extreme) impact
 on the test statistic. Otherwise, the null-hypothesis must be rejected.
 .
 Author: Daniël de Kok <me@danieldk.eu>
 Upstream-Maintainer: Daniël de Kok <me@danieldk.eu>
 .
 This package contains the libraries compiled with profiling enabled.

Package: libghc-approx-rand-test-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Approximate randomization tests
 This Haskell module provides functions to perform approximate
 randomization tests.
 .
 Approximate randomization tests rely on a simple premise: given a test
 statistic, if the null-hypothesis (the samples do not differ) is true,
 we can randomly swap values between samples without an (extreme) impact
 on the test statistic. Otherwise, the null-hypothesis must be rejected.
 .
 Author: Daniël de Kok <me@danieldk.eu>
 Upstream-Maintainer: Daniël de Kok <me@danieldk.eu>
 .
 This package contains the documentation files.

Package: approx-rand-test
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}
Description: Approximate randomization test utilities
 This package provides utilities for performing paired and unpaired
 approximate randomization tests.
 .
 Approximate randomization tests rely on a simple premise: given a test
 statistic, if the null-hypothesis (the samples do not differ) is true,
 we can randomly swap values between samples without an (extreme) impact
 on the test statistic. Otherwise, the null-hypothesis must be rejected.
 .
 Author: Daniël de Kok <me@danieldk.eu>
 Upstream-Maintainer: Daniël de Kok <me@danieldk.eu>
